<?xml version="1.0"?>
<!--
/**
 * Openpay_Stores default configuration
 *
 * @category    Openpay
 * @package     Openpay_Stores
 * @author      Federico Balderas
 * @copyright   Openpay (http://openpay.mx)
 * @license     http://www.apache.org/licenses/LICENSE-2.0  Apache License Version 2.0
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">    
    <default>
        <csp>
            <mode>
                <storefront>
                    <report_only>0</report_only>
                </storefront>
                <admin>
                    <report_only>0</report_only>
                </admin>
            </mode>
        </csp>        
        <payment>
            <openpay_stores>
                <active>0</active>
                <is_sandbox>1</is_sandbox>
                <country>MX</country> 
                <model>Openpay\Stores\Model\Payment</model>
                <order_status>pending_payment</order_status>
                <payment_action>order</payment_action>                
                <title>Pago en efectivo</title>
                <sandbox_sk backend_model="Magento\Config\Model\Config\Backend\Encrypted" />                
                <live_sk backend_model="Magento\Config\Model\Config\Backend\Encrypted" />                     
                <deadline_hours>72</deadline_hours>
                <show_map>0</show_map>
                <iva>0</iva>
                <allowspecific>1</allowspecific>      
                <specificcountry>MX</specificcountry>                                               
            </openpay_stores>
        </payment>
    </default>
</config>
