<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div class="payment-method" data-bind="css: {'_active': (getCode() == isChecked())}">
    <div class="payment-method-title field choice">
        <input type="radio"
               name="payment[method]"
               class="radio"
               data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()"/>
        <label data-bind="attr: {'for': getCode()}" class="label"><span data-bind="text: getTitle()"></span></label>
    </div>
    <div class="payment-method-content">
        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
        <div class="payment-method-billing-address">
            <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        
        <div class="items check payable">            
            <h3 style="border-bottom: 1px solid #cccccc; padding-bottom: 15px;">Pago en efectivo en tiendas de conveniencia</h3>            
            <img src="https://s28.postimg.cc/duko0g6z1/stores.png" alt="" style="max-width: 100%;" />
            <p>
                <a href="http://www.openpay.mx/tiendas-de-conveniencia.html" target="_blank">Consulta las tiendas afiliadas</a>
            </p>           
            <h3 style="margin-top: 25px; margin-bottom: 20px;">Pasos para tu pago por tienda</h3>
            <div style="overflow: hidden;">                
                <div style="width: 30%; float: left; text-align: center; padding-left: 1.5%; padding-right: 1.5%;">
                    <img src="https://s14.postimg.cc/wt10fdulp/step1.png" alt="" style="max-width: 100%;" />
                    <p style="padding: 3px;">Haz clic en el botón pago, tu compra quedará en espera de que realices tu pago.</p>
                </div>    
                <div style="width: 30%; float: left; text-align: center; padding-left: 1.5%; padding-right: 1.5%;">
                    <img src="https://s28.postimg.cc/azv09o2tl/step_store.png" alt="" style="max-width: 100%;" />
                    <p style="padding: 3px;">Imprime tu recibo, llévalo a tu tienda de conveniencia más cercana y realiza el pago.</p>
                </div>    
                <div style="width: 30%; float: left; text-align: center; padding-left: 1.5%; padding-right: 1.5%;">
                    <img src="https://s13.postimg.cc/6c2yov3g3/step3.png" alt="" style="max-width: 100%;" />
                    <p style="padding: 3px;">Inmediatamente después de recibir tu pago te enviaremos un correo electrónico con la confirmación de pago.</p>
                </div>    
            </div>
        </div>
        
        <div class="checkout-agreements-block">
            <!-- ko foreach: $parent.getRegion('before-place-order') -->
                <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        <div class="actions-toolbar">
            <div class="primary">
                <button class="action primary checkout"
                        type="submit"
                        data-bind="
                        click: placeOrder,
                        attr: {title: $t('Place Order')},
                        css: {disabled: !isPlaceOrderActionAllowed()},
                        enable: (getCode() == isChecked())
                        "
                        disabled>
                    <span data-bind="i18n: 'Place Order'"></span>
                </button>
            </div>
        </div>
    </div>
</div>
        
